 body{
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, pink);
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 .h1Container{
  height: 50%;
  width: 100vw;
  display: flex;  
  justify-content: center;
 
 }

 .buttonContainer{
  height: 50%;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
 }

 #yesBtn{
  height: 3.5rem;
  width: 7rem;
  border-radius: 99px;
  margin-top: -3.5rem;
  margin-right: 15rem;
 }

 #noBtn{
  position: absolute;
  height: 3.5rem;
  width: 7rem;
  margin-left: 5rem;
  border-radius: 99px;
 }

 .h1Text{
   margin-top: 16rem;
 }





    
    